@{
    Layout="_LayoutPageAdmin";
}

    <div class="container">
        <h2>Admin Paneli</h2>
        <div class="alert alert-success"><p>Hoşgeldiniz..</p></div>
    <p><a href="/admin/yoneticiler">Yöneticiler</a></p>
    </div>


